body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    color: #a9a9b3;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whole {
    background-color: #ffffff;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5% 2%;
}

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.perfume {
    text-transform: uppercase;
    letter-spacing: 5px;
    align-self: flex-start;
    margin: 15px 25px;
    font-weight: 700;
    font-size: .85em
}

h1 {
    font-family: 'Fraunces', serif;
    color: #191c23;
    font-size: 2em;
    line-height: 1em;
    margin: 0 25px;
}

p {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    margin: 15px 25px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 0;
}

.new-price {
    color: #3d8168;
    font-size: 2.5em;
}

.old-price {
    text-decoration: line-through;
    padding-left: 5px;
    font-weight: 700;
    margin: 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3d8168;
    color: #fefffd;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 85%;
    margin: 20px 0;
}

button:hover {
    background-color: #1a4031;
}

button img {
    height: 15px;
    width: auto;
    margin: 0;
    padding: 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1200px) {    
div.whole {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 50%;
    margin-top: 15%;
    
}

.main {
    content: url("../images/image-product-desktop.jpg");
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    width: 50%;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    margin: 5px 70px 25px 25px;
}

p {
    margin: 20px 50px 40px 25px;

}

.perfume {
    margin: 0 25px 30px 25px;
}

.price {
    align-self: start;
    align-items: center;
    margin: 15px 0;
}

.new-price {
    margin: 0 15px 0 25px;
}

.old-price {
    margin: 0;
}
}